@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'slick';
@import 'slick-theme';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// elements
.ps-logo{
	color: white;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	height: 76px;
	line-height: 76px;
}

.menu{
	a, .menu-btn{
		color: #FFF;
		cursor: pointer;
	}
	.menu-btn{
		padding: 0 14px;
		&-search{
			margin-left: 70px;
		}
		&-like{
			border-left: 1px solid $gray;
			border-right: 1px solid $gray;
		}
	}

}

.round{
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
.uppercase {
	text-transform: uppercase;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}	
//

.ps-top{
	background: $black; 
}

.ps-social{
	margin: 0;
	&__item{
		display: inline-block;
		padding: 0 6px;
		&:first-child{
			padding-left: 0;
		}
	}
}
.ps-setting{
	.ps-setting__item{
		a{
			padding: 0;
		}
	}

	&__item{
		font-size: 14px;
		text-transform: uppercase;
		padding-left: 10px;
		&:first-child{
			border-right: 1px solid $anchor-color;
			padding-right: 10px;
		}
	}
}

.ps-header{
	background-image: url('../img/background.jpg');
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 4.25rem;
	min-height: 95vh;
	.top-bar{
		background: transparent;
	}
}
.ps-slider-post{
	padding: 0 11.25rem;
	&__item{
		padding-top: 50px;
	}
	&__category {
		opacity: 0.7;
		color: white;
		font-size: 1.5rem;
		font-variant: small-caps;
		margin-bottom: 0;
	}
	&__title {
		color: #FFF;
		font-size: 2.625rem;
		font-weight: 900;
		margin-bottom: 2rem;
	}
	&__link {
		margin-bottom: 80px;
	}
	&-author {
		&__img{
			display: inline-block;
			padding-bottom: 20px;
		}
		&__name {
			font-weight: 700;
			color: $white;
			margin-bottom: 0;
			display: block;
		}
	}
	&__time {
		font-size: 0.75rem;
		color: $time-color;
	}
	&-counter{
		color: $gray;
		&__like{
			margin-left: 30px;
		}
		
	}
}

.ps-slider-post{
	.slick-arrow{
		width: 13px;
		height: 22px;
		background: url(../img/slider-arrow.png) no-repeat 50%;
	}
	.slick-prev {
		transform: rotate(180deg) ;
	}
	.slick-slide:focus {
		outline: none;
	}
}

// main
.ps-main {
	background: whitesmoke;
}
.ps-section {
	background: #FFF;
	box-shadow: 0 1px 0 #ddd;
}
.ps-sort{
	padding: 15px 0;
	&__item{
		background: whitesmoke;
		margin:0 0 0 15px;
		color: black;
		&:hover, &:focus,{
			border-color: $primary-color;
			background-color: #FFF;
			color: $primary-color;
		}
		[aria-selected="true"] {
			border-color: $primary-color;
			background-color: #FFF;
			color: $primary-color;
		}
	}
	[aria-selected="true"] {
		border-color: $primary-color;
		background-color: #FFF;
		color: $primary-color;
	}
}

.ps-blog {
	padding-top: 31px;
}

.ps-post {
	// display: flex;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	margin-bottom: 21px;
	&__link {
		display: inline-block;
		position: relative;
		height: auto;
		color: #FFF;
	}

	&__img {
		
	}
	&-meta {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		margin: 0;
		line-height: 1;
		&-count{
			position: absolute;
			right: 0;
			display: inline-block;
		}
	}
	
	&__title{
		font-size: 1.125rem;
		color:$post-title-color;
		margin-top: 1.125rem ;
		&:hover {
			text-decoration: underline;
			opacity: 0.9;
		}
	}
	&__excerpt {
		color:$post-title-color;
		padding-bottom: 1.0625rem;
		border-bottom: 1px solid lightgray;
	}
	&-info {
		position: relative;
		padding: 20px;
		&__time {
			display: block;
			color: $time-color;
			font-size: 0.75rem;
		}
		&__prop {
			position: absolute;
			right: 20px;
		    top: calc(50% - 8px);
			height: 16px;
			width: 4px;
			background-image: url(../img/prop.png);
			cursor: pointer;
			
		}
	}
	&-author {
		&__img {
			margin-right: 11px;
		}
		&__name {
			color: $post-title-color;
		}
	}
}
// for posts with video
.haveVideo{
	.ps-post__link-img:before{
		position: absolute;
		content: "";
		background-image: url(../img/video.png);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		width: 50px;
		height: 50px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	   -moz-transition:.5s;
	        transition:.5s;
	}
	&:hover .ps-post__link-img:before{
			width: 60px;
			height: 60px;
		}
}