@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';
@import 'slick';
@import 'slick-theme';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
// @include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
@include foundation-tabs;
// @include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// elements
.ps-logo{
	color: white;
	font-family: Montserrat;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	height: 76px;
	line-height: 76px;
}

.top-bar {
	width: 100%;
	&-right {
		margin-left: auto;
	}
	.submenu {
		background-color: rgba(0,0,0,.5);
		@include breakpoint(small only) {
			background-color: #3f51b5;		
		}
		& >li>a {
			padding:10px 5px;
			&:hover {
				background-color: #000;
			}
		}
	}
}

.menu{
	a {
		text-transform: uppercase;
	}
	&-item {
		border-bottom: 1px solid transparent;
		&:hover {
			opacity: 0.9;
		}
	}
	[aria-current="page"]{
		border-bottom: 4px solid #ff4081;
	}
	a, .menu-btn{
		color: #FFF;
		cursor: pointer;
	}
	.menu-btn{
		padding: 0 14px;
		&-search{
			margin-left: 70px;
		}
		&-like{
			border-left: 1px solid $gray;
			border-right: 1px solid $gray;
		}
	}
	&-search-button {
		position: relative;
		input {
			height: 35px;
			border: 1px solid #757575;
			color: rgba(255, 255, 255, 0.5);
			background: transparent;
			&:focus {
				background: transparent;
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 14px;
			bottom: 0;
			color: rgba(255,255,255,0.5);
			
		}
	}
}

.round{
	-webkit-border-radius: 100px;
	border-radius: 100px;
}
.uppercase {
	text-transform: uppercase;
}

button {
	cursor: pointer;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}	
//

.ps-top{
	background: $black; 
	@include breakpoint(small only) {
		background: #303f9f; 
	}
}

.ps-social{
	margin: 0;
	&__item{
		display: inline-block;
		padding: 0 6px;
		&:first-child{
			padding-left: 0;
		}
	}
}
.ps-setting{
	.ps-setting__item{
		a{
			padding: 0;
		}
	}

	&__item{
		font-size: 14px;
		text-transform: uppercase;
		padding-left: 10px;
		&:first-child{
			border-right: 1px solid $anchor-color;
			padding-right: 10px;
		}
	}
}

.ps-header{
	background-image: url('../img/background.jpg');
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 4.25rem;
	min-height: 95vh;
	.top-bar{
		background: transparent;
	}
}
.ps-slider-post{
	padding: 0 11.25rem;
	&__item{
		padding-top: 50px;
	}
	&__category {
		opacity: 0.7;
		color: white;
		font-size: 1.5rem;
		font-variant: small-caps;
		margin-bottom: 0;
	}
	&__title {
		color: #FFF;
		font-size: 2.625rem;
		font-weight: 900;
		margin-bottom: 2rem;
	}
	&__link {
		margin-bottom: 80px;
	}
	&-author {
		&__img{
			display: inline-block;
			padding-bottom: 20px;
		}
		&__name {
			font-weight: 700;
			color: $white;
			margin-bottom: 0;
			display: block;
		}
	}
	&__time {
		font-size: 0.75rem;
		color: $time-color;
	}
	&-counter{
		color: $gray;
		&__like{
			margin-left: 30px;
		}
		
	}
}

.ps-slider-post{
	.slick-arrow{
		width: 13px;
		height: 22px;
		background: url(../img/slider-arrow.png) no-repeat 50%;
	}
	.slick-prev {
		transform: rotate(180deg) ;
	}
	.slick-slide:focus {
		outline: none;
	}
}

// main
.ps-main {
	background: whitesmoke;
}
.ps-section {
	background: #FFF;
	box-shadow: 0 1px 0 #ddd;
	margin-bottom: 31px;
}
.ps-sort{
	padding: 15px 0;
	&__span{
		height: 38px;
		line-height: 38px;
	}
	&__item{
		background: whitesmoke;
		margin:0 0 0 15px;
		color: black;
		&:hover, &:focus,{
			border-color: $primary-color;
			background-color: #FFF;
			color: $primary-color;
		}
		[aria-selected="true"] {
			border-color: $primary-color;
			background-color: #FFF;
			color: $primary-color;
		}
	}
	[aria-selected="true"] {
		border-color: $primary-color;
		background-color: #FFF;
		color: $primary-color;
	}

	&-select {
		border: 1px solid #E0E0E0;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		height: 45px;
		padding: 10px 16px;
	}
}

.ps-blog {
	padding-left: 0;
	&-more {
		&__link{
			display: inline-block;
			width: 42px;
			height: 42px;
			background-color: white;
			background-image: url(../img/arrow.png);
			background-repeat: no-repeat;
			background-position: center;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			position: relative;
			span {
				position: absolute;
				left: -100%;
				display: inline-block;
				line-height: 1;
				height: 12px;
				top: calc(50% - 6px);
				color: $primary-color;
			}
			&:hover {
				-webkit-box-shadow: none;
				box-shadow: none;
				span {
					opacity: 0.9;
				}
			}	
		}
	}
}

.ps-post {
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #FFF;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	margin-bottom: 21px;
	&__link {
		display: inline-block;
		position: relative;
		height: auto;
		color: #FFF;
	}
	&-meta {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		margin: 0;
		line-height: 1;
		&-count{
			position: absolute;
			right: 0;
			display: inline-block;
			line-height: 1;
		}
	}
	&-content {
		padding: 0 20px;
	}
	&__title{
		font-size: 1.125rem;
		color:$post-title-color;
		margin-top: 1.125rem ;
		&:hover {
			text-decoration: underline;
			opacity: 0.9;
		}
	}
	&__excerpt {
		color:$post-title-color;
		padding-bottom: 1.0625rem;
		border-bottom: 1px solid lightgray;
	}
	&-info {
		position: relative;
		padding: 20px;
		&__time {
			display: block;
			color: $time-color;
			font-size: 0.75rem;
		}
		&__prop {
			position: absolute;
			right: 20px;
			top: calc(50% - 8px);
			height: 16px;
			width: 4px;
			background-image: url(../img/prop.png);
			cursor: pointer;
			
		}
	}
	&-author {
		&__img {
			margin-right: 11px;
		}
		&__name {
			color: $post-title-color;
		}
	}
}
.ps-post_horizontal{
	.ps-post{
		&__link-img {
			float: left;
			margin-right: 10px;
		}
		&-content {
			padding: 10px 20px 0;
		}
		&__title {
			font-size: 1rem;
			margin: 0;
		}
		&__excerpt {
			font-size: 0.875rem;
			padding-bottom: 0.875em;
		}
		&-info {
			padding:10px 0;
			max-height: 70px;
		}
	}
}
.ps-post_small {
	.ps-post__link-img img{
		width: 100%;
	}
	.ps-post__title, .ps-post__excerpt{
		font-size: 0.875rem;
	}
	
}
// for posts with video
.hasVideo{
	.ps-post__link-img:before{
		position: absolute;
		content: "";
		background-image: url(../img/video.png);
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 50px;
		height: 50px;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		-moz-transition:.5s;
		transition:.5s;
	}
	&:hover .ps-post__link-img:before{
		width: 60px;
		height: 60px;

	}
}

.ps-instagram {
	&__item img{
		// width: 100px;
		// height: 100px;
	}
}

.ps-subscribe {
	background-color: #28292a;
	background-image: url(../img/bckg-sub.jpg);
	-webkit-background-size:  cover;
	-o-background-size:  cover;
	background-size:  cover;
	padding: 77px 0;
	&__title {
		font-size: 2.625rem;
		font-weight: 900;
		display: inline-block;
		padding-left: 0;
		color: #FFF;
		margin-bottom: 0;
	}
	&__form {
		padding-right: 0;
	}
	&__input {
		display: inline-block;
		opacity: 0.38;
		background-color: #303030;
		padding: 1rem 1.25rem;
		max-width: 60%;
		transform: translateY(8px);
		margin-right: 30px;
		margin-bottom: 0;
		height: 45px;
		color:#fff;
		&:hover, &:focus {
			background-color: transparent;
		}
	}
	&__button {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin: auto;
		height: 45px;
		transform: translateY(8px);
	}
}

.ps-footer {
	background-color: #212121;
	padding: 50px 0 0;
	&-bar {
		height: 80px;
		background-color: #303030;
		margin-top: 77px;
	}
}

// widget zone
.ps-widget {
	color: $widget-font-color;
	font-size: 0.875rem;
	&__title {
		color: white;
		font-size: 1.125rem;
		padding-bottom: 30px;
		margin-bottom: 0;
		&:nth-of-type(2){
			padding-bottom: 19px;
		}
	}
}

.ps-widget-menu {
	& > li {
		border: 1px solid $widget-menu-border-color;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		margin-bottom: 5px;
	}
	& > li > a{
		padding: 1rem;
		font-weight: 700;
		opacity: 0.7;
		border-bottom: 1px solid $widget-menu-border-color;
	}
	.submenu > li > a {
		padding: 0rem 0 1.5rem;
		font-weight: 400;
		text-transform: capitalize;
		opacity: 0.5;
	}
	.submenu {
		padding-top: 1rem;
	}
}

.ps-widget-tw {
	list-style: none;
	margin: 0;
	&-item {
		border-bottom: 1px solid #3b3b3b;
		margin-bottom: 15px;
		&:last-child {
			border-bottom: none;
		}
		&__link {
			color: #55acee;
			font-size: 1.5rem;
			padding: 0 16px 0px 8px;
			line-height: 1;
		}
		a:hover{
			color: $primary-color;
		}
	}
	&__mes {
		font-size: 0.8125rem;
		color: rgba(255,255,255, .7);
	}
	&-info {
		font-size: 0.75rem;
		color: rgba(255,255,255, .5);
		padding-bottom: 13px;
		button {
			text-decoration: underline;
			color: inherit;
			&:nth-of-type(1){
				padding-left: 8px;
			}
			&:nth-of-type(2){
				padding: 0 16px;
			}
			&:hover {
				color: #fff;
				cursor: pointer;
			}
		}
		time {
			padding-right: 8px;
		}
	}
}


.ps-form {
	input, textarea {
		padding: 19px 16px 16px;
		background: transparent;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		border-color: #fff;
		color: #fff;
		font-size: 0.875rem;
		margin-bottom: 10px;
		opacity: 0.38;
		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		-ms-transition: opacity .3s;
		-o-transition: opacity .3s;
		transition: opacity .3s;
		&:hover, &:focus {
			background: transparent;
			opacity: 1;
		}
	}
	input {
		height: 45px;
	}
	button {
		width: 100%;
		height: 40px;
		background-color: #303030;
		border-radius: 4px;
		line-height: 40px;
		color: #FFF;
		padding: 0;
		&:hover, &:focus {
			background-color: darken(#303030, 2%);
		}
	}
}

.ps-widget-flickr {
	img {
		width: 30%;
		height: 30%;
		margin-bottom: 8px;
		&:hover {
			opacity: 0.8;
		}
	}
}

.ps-social {
	&__item {
		padding: 0 3px;
		&:first-child{
			padding-left: 0;
		}
	}
	&__link {
		display: inline-block;
		width: 36px;
		height: 36px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		font-size: 1.125rem;
		line-height: 36px;
		text-align: center;
		color: #FFF;
		-webkit-transition: opacity .3s;
		-moz-transition: opacity .3s;
		-ms-transition: opacity .3s;
		-o-transition: opacity .3s;
		transition: opacity .3s;
		&:hover {
			opacity: 0.6;
		}
		&_fb {
			background-color: #3b5999;
		}
		&_tw {
			background-color: #55acee;
		}
		&_vk {
			background-color: #4c75a3;
		}
		&_pn {
			background-color: #ff2e56;
		}
		&_tr {
			background-color: #34465d;
		}
		&_dr {
			background-color: #ea4c89;
		}
	}
	.ps-widget &__link {
		height: 34px;
		width: 34px;
		line-height: 34px;
	}
}

// sidebar zone
.ps-sidebar {
	background: #FFF;
	border-radius: 4px 0 0;
	padding: 23px 40px;
	&__item {
		margin-bottom: 30px;
	}
	&__title {
		color: $primary-color;
		font-size: 1.125rem;
		padding-bottom: 10px;
		border-bottom: 1px solid #2962ff;
		line-height: 1;
		margin-bottom: 0;
	}
	&-search {
		position: relative;
		&__input {
			height: 45px;
			padding-left: 20px;	
			background: whitesmoke;
			-webkit-box-shadow: none;
			box-shadow: none;
			border-color:transparent;
		}
		&__button {
			position: absolute;
			right: 5px;
			top: 5px;
			width: 35px;
			height: 35px;	
			background-color: #ff4081;
			box-shadow: 0 2px 13px rgba(0, 0, 0, 0.12);
			color: #FFF;
			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
	&-subscribe {
		.aside-form {
			padding-bottom: 24px;
			border-bottom: 1px solid #757575;
			position: relative;
			&:after {
				content: "or";
				display: inline-block;
				position: absolute;
				width: 16px;
				background: #FFF;
				bottom: -12px;
				left: 0;
				right: 0;
				margin: auto;
			}
		}
		.aside-social {
			padding: 27px 0 19px;
		}
		label {
			padding: 16px 0 0;
		}
		input, button {
			margin: 0;
			margin-top: 10px;
			height: 45px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			width: 100%;
		}
	}
	.ps-category {
		&-list {
			margin: 0;
			&__item {
				padding: 14px 0;
				border-bottom: 1px solid #ebeae9;
				&:last-child {
					border: none;
				}
				b {
					float: right;
				}
			}
		}
	}
	&-tab {
		.tabs {
			padding-top: 19px;
			&-title {
				width: 50%;
				&:first-child a{
					border-radius:4px 0 0 4px;
				}
				&:nth-child(2) a{
					border-radius:0 4px 4px 0;
				}
			}
		}
		&__button {
			height: 45px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			border:1px solid $primary-color;
			-webkit-transition: background .5s;
			-moz-transition: background .5s;
			-ms-transition: background .5s;
			-o-transition: background .5s;
			transition: background .5s;
		}
		ul {
			margin: 0;
			padding-top: 5px;
		}
	}
	&-post {
		padding: 15px 0;
		border-bottom: 1px solid #dee5e9;
		&:last-child {
			border-bottom: none;
		}
		a {
			display: block;
		}
		&__img {
			width: 100px;
			height: 80px;
			object-fit: cover;
			object-position:0;
			padding-right: 14px;
		}
		&__title {
			font-size: 1.125rem;
			&:hover {
				color: $primary-color;
			}
		}
		&__info {
			font-size: 0.875rem;
			span {
				color: $primary-color;
			}
		}

	}
	&-tag {
		&-list {
			padding-top: 20px;
			&__item {
				display: inline-block;
				background-color: #eee;
				-webkit-border-radius: 4px;
				border-radius: 4px;
				padding: 8px 16px;
				margin: 0 10px 10px 0;
				&:hover {
					background-color: darken(#eee, 5%);
				}
			}
		}
	}
}


@media screen and (max-width: 39.9375em) {
	.row {
		padding: 0 10px;
	}
	.ps-logo {
		font-size: 1.5rem;
		line-height: 2rem;
		height: 2rem;
	}
	.ps-post__title {
		font-size: 1rem;
	}
	.ps-header {
		background-image: none;
		background: $primary-color;
		min-height: 70px;
		height: auto;
		padding: 26px 35px 26px 20px;
	}
	.ps-slider-post {
		display: none;
	}
	.menu {
		> li > a {
			display: block;
			padding: 0.5rem 0.5rem;
			line-height: 1;
		}
		&-icon {
			height: 25px;
		}
		.menu-btn{
			padding: 0 14px;
			&-search{
				margin-left: 0;
			}
			&-like{
				border-left: 1px solid $gray;
				border-right: 1px solid $gray;
			}
		}
		&.vertical > li.menu-item-button {
			display: inline-block;
		}
	}

	.ps-setting__item{
		height: 40px;
		&:first-child {
			border-right: none;
			padding-right: 10px;
			float: right;
			a {
				line-height: 40px;
			}
		}
	}

	// section with sort posts
	.ps-sort {
		padding: 8px 10px;
		&-select {
			margin-bottom: 0;
			position: relative;
			&:after {
				position: absolute;
				display: inline-block;
				content: " ";
				height: 45px;
				width: 45px;
				top: 0;
				right: 0;
				background: #eee;
				border: 1px solid #e0e0e0;
				border-radius: 0 4px 4px 0;
			}
		}
	}

	// style for posts
	.ps-post {
		&-meta {
			font-size: 0.875rem;
			bottom: 20px;
			left: 10px;
			right: 10px;
			&-count{
				position: absolute;
				left: 0;
				display: inline-block;
				line-height: 1;
			}
			&__category {
				display: block;
			}
		}
		&__title{
			font-size: 1.125rem;
			color:$post-title-color;
			margin-top: 0 ;
			&:hover {
				text-decoration: underline;
				opacity: 0.9;
			}
		}
		&-info {
			&__time {
				display: block;
				color: $time-color;
				font-size: 0.75rem;
			}
			&__prop {
				position: absolute;
				right: 20px;
				top: calc(50% - 8px);
				height: 16px;
				width: 4px;
				background-image: url(../img/prop.png);
				cursor: pointer;

			}
		}
		&-author {
			&__img {
				margin-right: 11px;
			}
			&__name {
				color: $post-title-color;
			}
		}
		&_only-img {
			-webkit-border-radius: 4px;
			border-radius: 4px;
			.ps-post-content, .ps-post-info {
				display: none;
			}
		}
	}



	.ps-post_horizontal {
		.ps-post{
			height: 100px;
			&__link-img {
				width: 40%;
				height: 100%;
			}
			&-content {
				float: left;
				width: 55%;
				padding: 10px 16px 10px 0;
				border-bottom: 1px solid #e1e1e1;
			}
			&__excerpt {
				display: none;
			}
			&-info {
				padding:10px 0;
				max-height: 70px;
			}
			&-author__link {
				display: none;
			}
		}
		&-small {
			height: 100px;
			.ps-post__link-img {
			height: 100%;
			img {
				height: 100%;
			}
			}
		}
	}


	.ps-post_vertical-for-small {

		.ps-post{
			&__link, &-content {
				width: 100%;
				float: none;
			}
			&__excerpt {
				display: none;
			}
			&-content {
				padding: 10px 16px 10px 7px;
				border-bottom: 1px solid #e1e1e1;
			}
			&-author__link {
				display: none;
			}
			&-info {
				padding:10px 0;
				max-height: 70px;
			}

		}
		&.ps-post_only-img {
			margin-bottom: 150px;
		}
		
	}

	// rewrite later!!!
	.ps-post-num:nth-child(6){
			margin-top: -140px;
	}
	.ps-post-num:nth-child(5){
			.ps-post_only-img {
				margin-bottom: 0;
			}
	} 
}